<%- include('partials/head') %> 
<body>
    <%- include('partials/nav-bar') %> 
    <%- include('partials/hero') %> 
    <%- include('partials/booking-form') %> 
    <%- include('partials/modal') %> 

    <script>
        $("input[name='radioGuests']").change(function() {
            $("#collapseGuests").toggle();
        });
        
        $("input[name='radioPOCDetails']").change(function() {
            $("#collapsePOCDetails").toggle();
        });
    </script>

</body>
</html>